@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Charm:wght@400;700&family=Cookie&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Explora&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tangerine:wght@400;700&family=Tilt+Warp&family=Waterfall&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Charm:wght@400;700&family=Cookie&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Explora&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tangerine:wght@400;700&family=Tilt+Warp&family=Waterfall&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Charm:wght@400;700&family=Cookie&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tangerine:wght@400;700&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Charm:wght@400;700&family=Cookie&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Explora&family=Figtree:ital,wght@0,300..900;1,300..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tangerine:wght@400;700&family=Tilt+Warp&family=Waterfall&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Bowlby+One+SC&family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Charm:wght@400;700&family=Cookie&family=DM+Serif+Display:ital@0;1&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Explora&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Parisienne&family=Playball&family=Roboto+Slab:wght@100..900&family=Staatliches&family=Tangerine:wght@400;700&family=Tilt+Warp&family=Waterfall&family=Yellowtail&display=swap');

@font-face {
    font-family: 'Perandory';
    src: url('../fonts/Perandory-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
}

.content p {
    margin-bottom: 1.5rem;
    text-align: justify;
    transform: translateX(-20px);
    transition: all var(--transition-duration) ease-out;
    background: #8e6f5a51;
    font-family: "Questrial";
    font-size: 1.25rem;
    grid-column: span 2;
    color: #244929;
}

footer.footer {
    background-color: #2b231b;
    color: #ddd;
    padding: 4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
}

.seal-section {
    background-color: #244929;
    color: var(--primary-bg);
    margin-top: 0;
    transform: translateY(20px);
    transition: all var(--transition-duration) ease-out;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    width: 100%;
}

.footer-bottom {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(229, 229, 229, 0.1);
    text-align: center;
    font-size: 0.9rem;
    color: rgba(229, 229, 229, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-indicator {
    display: none;
}

.letter {
    padding: 20px;
    margin: 80px auto;
}

.button-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
    margin-right: 50px;
}

.apoie-aqui {
    width: max-content;
    background-color: #244929;
    color: #f3dbaf;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 23px;
    font-family: "Carlito", sans-serif;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    margin-block: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.apoie-aqui:hover {
    background-color: #a19174;
    color: #2b231b;
}

.banner-anti-img-fudida {
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
}

.banner-anti-img-fudida {
    height: 1000px;
    padding-top: 110px;
    margin-top: auto;
}

.img-fudida {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-fudida {
    width: 50%;
    height: 105%;
    background-image: url(../img/tropical-green-leaves-background.jpg);
    position: relative;
    filter: contrast(110%);
}

.text-fudido {
    background-color: #244929;
    color: #f3dbaf;
    width: 50%;
    height: 110%;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
}

.text-fudido h1 {
    width: 70%;
    font-size: 35px;
    text-align: justify;
    font-family: "Questrial", sans-serif;
}

.text-img-fudida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    height: 100%;
}

.text-img-fudida h1 {
    font-family: "Perandory";
    color: #f3dbaf;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
}

.logo-fdp {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 140px;
    height: 130px;
    background-image: url(../img/Captura_de_tela_2024-12-06_171644-removebg-preview-transformed.png);
    background-size: cover;
    
}

.ajudam h1{
    font-family: "Perandory";
    font-weight: 600;
    font-size: 3.5rem;
    color: #244929;
    margin-bottom: 1rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: end;
    animation: float 6s ease-in-out infinite;
    padding-top: 100px;
    margin-right: 50px;
}

.text-empresas {
    font-family: "Outfit", sans-serif;
    color: #244929;
    margin-bottom: 6rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: justify;
    animation: float 6s ease-in-out infinite;
    margin-left: 50px;
    margin-right: 50px;
    max-width: max-content;
    font-size: 20px;
}

.parallax-empresas {
    background-image: url('../img/pexels-iriser-1379640.jpg');
    width: 100%;
    height: 400px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 30px;
    opacity: 85%;
    border-radius: 40px;
}

.Porque-nos-apoiam {
    background: linear-gradient(to bottom, #f3dbaf 0%, #244929 10%);;
}

.Porque-nos-apoiam-content h1{
    font-family: "Perandory";
    font-weight: 600;
    font-size: 3.7rem;
    color: #f3dbaf;
    margin-bottom: 2rem;
    position: relative;
    text-align: start;
    padding-top: 10px;
    margin-left: 50px;
}

.Porque-nos-apoiam-content p{
    font-family: "Outfit", sans-serif;
    color: #f3dbaf;
    margin-bottom: 6rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: justify;
    animation: float 6s ease-in-out infinite;
    margin-left: 50px;
    margin-right: 50px;
    max-width: max-content;
    font-size: 20px;
}

.Porque-nos-apoiam-content img{
    height: 110%;
    width: 100%;
    
}

.comoapoiar h1{
    font-family: "MuseoModerno";
    font-weight: 600;
    font-size: 4.5rem;
    color: #244929;
    margin-bottom: 1rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: start;
    animation: float 6s ease-in-out infinite;
    padding-top: 100px;
    margin-left: 50px;
}

.comoapoiar h2{
    font-family: "MuseoModerno";
    font-weight: 100;
    font-size: 4.5rem;
    color: #244929;
    margin-bottom: 1rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: start;
    animation: float 6s ease-in-out infinite;
    padding-top: 100px;
    margin-left: 50px;
}

.comoapoiar img{
    margin-top: 10px;
}

.comoapoiar p{
    font-family: "Outfit", sans-serif;
    color: #244929;
    margin-bottom: 6rem;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: justify;
    animation: float 6s ease-in-out infinite;
    margin-left: 50px;
    margin-right: 50px;
    max-width: max-content;
    font-size: 20px; 
}
.comoapoiar h6{
    font-family: "Outfit", sans-serif;
    color: #244929;
    position: relative;
    transform: translateY(-20px);
    transition: all var(--transition-duration) ease-out;
    text-align: justify;
    animation: float 6s ease-in-out infinite;
    margin-left: 50px;
    margin-right: 50px;
    max-width: max-content;
    font-size: 25px;   
}

.imglin3 {
    width: 100%;
}